
.hero-section {
    padding-top: 100px; 
    margin-top: 0; 
}

.hero-section h1 {
    font-size: 2.5rem; 
    margin-top: 0;
}


.smaller-image {
    max-width: 60%; 
    height: auto;
    margin-bottom: 20px; 
}

.smaller-corazon {
    max-width: 80%; 
    height: auto;
}


.text-custom {
    color: #ffffff; 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
}


.footer-links {
    color: #333333; 
}

.footer-links a {
    color: #333333; 
    text-decoration: none; 
}

.footer-links a:hover {
    color: #555555; 
    text-decoration: underline;
}


.btn-primary {
    background-color: #a9c2c5;
    border-color: #a9c2c5;
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--gray-dark); 
    border-color: #93d7de;
}

.navbar {
    margin-bottom: 20px; 
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #333;
}


h2, h3, h4, h5 {
    color: #333;
    font-weight: 700;
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.section-light {
    background-color: #f8f9fa;
}


.review .quote {
    font-size: 1.2em;
    font-style: italic;
}

.review .img-review {
    width: 60px;
    height: 60px;
}

.btn-primary {
    background-color: #a9c2c5;
    border-color: #a9c2c5;
    color: #fff;
}

.btn-primary:hover {
    background-color: var(--gray-dark); 
    border-color: #93d7de;
}

#home {
    padding-top: 100px; 
    text-align: center; 
}

.card-body p {
    color: #333333; 
}
